*{box-sizing: border-box;}
main{
    background-color:lightblue;
    color:darkslategray;
    display:grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-areas:
    "h h h"
    "n n n"
    "a a as"
    "f f f";
}
header{
    grid-area: h;
}
nav{
    grid-area: n;
}
article{
    grid-area: a;
    display:grid;
    gap: 5px;
    grid-template-columns:1fr 1fr 1fr 1fr;
}
aside{
    grid-area: as;
}
footer{
    grid-area: f;
}
header, nav, article,footer,aside {
    border:1px solid black;
    padding: 10px
}
article div img{
    border:2px solid black;
    width: 100%;
    max-width: 400px;
}
nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
a:link{
    text-decoration: none;
    color:black;
    cursor:grab;
}
a:hover{
    text-decoration: none;
    color:cornflowerblue;

}
.ar{
    text-align: right;
    color:black;
}
@media screen and (max-width:500px) {
    main{
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas:
        "h h h"
        "n n n"
        "as as as"
        "a a a"
        "f f f";
}
    
}
@media screen and (max-width:700px) {
    main{
        background-color: lavender;
    }
    article{
        grid-template-columns: 2fr 2fr;
        color:teal;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: calc(8px + 2vw);

}
    article div img{
        max-width: 100%;
        border:2px solid black;
        margin: 4px;
}
    
}
@media screen and (max-width:500px) {
    main{
        background-color:tan;
        color:darkslategrey;
        font-size: calc(6px + 2vw);
        grid-template-columns: 1fr 2fr 2fr;
        grid-template-areas:
        "h h h"
        "as as as"
        "n n n"
        "a a a"
        "f f f";
}
    article{
        grid-template-columns: 2fr;
        color:darkslategrey;
        font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        font-size: calc(10px + 2vw);
        padding: 5px;
    }
    article div img{
        border:2px solid black;
        margin:4px;
        overflow: hidden;
    }
    nav ul{
        display: grid;
        grid-template-columns: 1fr;
    }
    header{
        text-align: center;
    }
    aside{
        text-align: center; 
    }
}

    

